body{
    background: #F8EEE3
    ;
    min-height: 100vh;
   overflow-x: hidden;
   overflow-y: scroll;
   
}

header{
    position: absolute;
    top:0;
    left: 10px;
    width: 100%;
    
    padding: 30px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
   

}

.title{
    font-size: 2m;
    color:#DC7633;
    pointer-events: none;
    margin-right: 700px;

}


.siteNav a{
    text-decoration: none ;
    color: #DC7633;
    padding: 6px 15px;
    border-radius:  20px;
    margin: 0 10px;
    font-weight: 600;
}

.siteNav a:hover,
.siteNav a.active{
    background: #DC7633;
    color: #fff;

}




.container-dash{
    max-width: 1100px;
    margin: 20px 40px ;
    padding-top: 100px;
   
}

.feature-dash{

    padding: 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 50%;
    
}

@media (min-width: 900px){
    .container-dash{
        display:flex;
        justify-content: space-between;
    }
}


.feature-dash:nth-child(1) {background-color: #F8EEE3;}
.feature-dash:nth-child(2) {background-color: #F8EEE3;}

